<div class="form">
  <form action="/stylist/edit" method="post">
    <input type="text" hidden value="$stylist.getId()" id="stylist_id" name="stylist_id">

    <h2>$stylist.getName()</h2>

    <div class="form-group">
      <label for="details">Stylist Details:</label>
      <textarea id="details" name="details" type="text" class="form-control" required>$stylist.getDetails()</textarea>
    </div>
    <button class="btn btn-warning" type="submit">Edit Stylist</button>
  </form>
</div>
